@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", serif;
}
body {
  overflow-x: hidden;
  color: #2a2a2a;
}
.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  background-color: #fafafa;
  z-index: 1001;
}
.navBarImg {
  width: 220px;
  height: 66px;
}
.navBar div {
  display: flex;
  align-items: center;
  gap: 80px;
}
.navBar div ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}
.navBar div ul li {
  list-style: none;
}
.navBar div ul li a {
  text-decoration: none;
  font-weight: 600;
}
.navBar div button {
  width: 150px;
  height: 40px;
  background-color: #fe3f40;
  border-radius: 16px;
  border: none;
  color: #ffffff;
  font-weight: 600;
}
.burger-menu {
  display: none;
  width: 64px;
  height: 64px;
}
main {
  position: absolute;
  top: 66px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 20000px;
}
.mainBanner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.blueSpan {
  color: #03a4ed;
}
.redSpan {
  color: #fe3f40;
}
.darkBlueSpan {
  color: #247cfd;
}
.textContainer {
  max-width: 600px;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.textContainer h3 {
  color: #fe3f40;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
}
.textContainer h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 72px;
}
.textContainer p {
  font-size: 15px;
  line-height: 30px;
  width: 90%;
}
.inputDomainContainer {
  position: relative;
  width: 100%;
}
.inputDomainContainer input {
  height: 66px;
  width: 80%;
  border: 0;
  border-radius: 32px;
  background-color: #03a4ed;
  padding-left: 30px;
  color: #ffffff;
}
.inputDomainContainer input::placeholder {
  color: #ffffff;
  opacity: 1; /* Firefox */
  font-size: 1.1rem;
}
.inputDomainContainer button {
  position: absolute;
  width: 30%;
  height: 80%;
  top: 10%;
  right: 18%;
  background-color: #fafafa;
  color: #fe3f40;
  border: 0;
  border-radius: 32px;
  font-size: 1.05rem;
}
.bannerBubbleRight {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 98px;
  height: 290px;
  z-index: 0;
}
.bannerBubbleLeft {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 193px;
  height: 467px;
  z-index: 0;
}
.banner-image {
  max-width: 600px;
  width: 35%;
}
.aboutUsSection {
  background-image: url(../../Images/about-bg.png);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.aboutInfo {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  margin-bottom: 100px;
}
.servicesSection {
  display: flex;
  justify-content: center;
  gap: 5%;
}
.servicesInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33%;
  gap: 30px;
}
.progressBars {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.progressBars progress {
  width: 100%;
  height: 20px;
}
.offeringSection {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offeringSection h1 {
  width: 30%;
  font-size: 40px;
  text-align: center;
}
.offeringInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  position: relative;
  gap: 20px;
}
.hiddenInfo {
  width: 100%;
  height: 213px;
  opacity: 0;
  background-color: #ff3065;
  z-index: 0;
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #fafafa;
  transform: translateY(100px);
  transition: 0.5s;
}
.hiddenInfo h3 {
  font-size: 25px;
  font-weight: 600;
}
.shownInfo {
  width: 100%;
  height: 213px;
  border-radius: 16px;
  background-color: #fafafa;
  box-shadow: 1px 1px 53px -19px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 53px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 53px -19px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(-100px);
  transition: 0.5s;
}
.shownInfo img {
  width: 110px;
  height: 130px;
}

.offeringInfo:hover .shownInfo {
  opacity: 1;
  position: relative;
  transform: translateY(0);
}
.offeringInfo:hover .hiddenInfo {
  opacity: 1;
  position: relative;
  transform: translateY(0);
}
.offeringGrid {
  margin-top: 100px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.bigThumbSpecText {
  margin-left: 100px;
}
.navBarListMobile{
  flex-direction:column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: auto;
  background-color: white;
  left: 0;
  width: 100%;
  top: 66px;
  position: absolute;
  font-weight: 800;
  padding: 20px;
}
@media screen and (max-width: 1000px) {
  .mainBanner {
    flex-direction: column;
  }
  .textContainer {
    width: 90%;
    max-width: none;
    align-items: center;
    text-align: center;
  }
  .textContainer form {
    width: 100%;
  }
  .inputDomainContainer button {
    width: 20%;
    right: 10%;
  }
  #navBarList{
    display: none;
  }
  .burger-menu{
    display: block;
  }
  .banner-image{
    display: none;
  }
  .aboutUsSection{
    flex-direction: column;
    background-image: none;
  }
  .aboutInfo{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  about-info-component{
    background-color: #fe3f40;
    border-radius: 16px;
  }
  .aboutImage{
    display: none;
  }
  .servicesSection{
    flex-direction: column;
    gap: 50px;
    align-items: center;
    text-align: center;
  }
  .servicesInfo{
    width: 80%;
  }
  .servicesInfo h2{
    font-size: 40px;
  }
  .servicesSection img{
    display: none;
  }
  .offeringGrid{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .offeringSection h1{
    width: 50%;
  }
}
@media screen and (max-width: 800px) {
  .offeringGrid{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}